@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Ubuntu:wght@&display=swap');

:root{
    --dark1: #323232;
    --dark2: #1c1c1c;
    --corPrimaria: #dddddd;
    --corSecundaria: #7fef86;
    --corTercearia: #2a9d11;
    --preto: #000;
    --cinza: #585858;
    --fontPrimaria: 'Prosto One', cursive;
    --fontSecundaria: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--fontSecundaria);
    color: var(--corPrimaria);
    
}

body {
    background: linear-gradient(45deg, 
    var(--preto), 
    var(--cinza), 
    var(--preto),
    var(--corTercearia));
    background-size: 400% 400%;
    height: 100vh;
    animation: cores 15s ease infinite;

}

.menu ul{
    display: flex;
    justify-content: center;
    background-color:var(--dark1);
    height: 2rem;
}

.menu ul li {
    padding-right: 2rem;
    padding-top: 0.4rem;
}

.menu ul li a {
    color: var(--corPrimaria);
    font-size: 1.1rem;
    transition: color 1s;
}

.menu ul li a:hover {
    color: var(--corSecundaria);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3vh 10vw;
}

.container h2 {
    text-align: center;
}

.container p {
    text-align: center;
    font-size: 1.2rem;
}

.txt {
    width: 60%;
}

.txt h1, h2 {
    font-family: var(--fontPrimaria);
    padding: 0.1rem 0;
}

.txt span{
    color: var(--corSecundaria);
    transition: color 1s;
    font-size: 2.5rem;
}

.txt span:hover {
    color: var(--corTercearia);
}

h1 {
    font-size: 3.7rem;
    letter-spacing: 2px;
}

h2 {
    font-size: 2rem;
}

article p{
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0 ;
}

.containerSlide {
    width: 400px;
    height: auto;
    padding: 0.5rem 0; 
}

.principal {
    width: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    display: flex;
    width: 400%;
    transition: all .8s;
}

.slide img{
    width: 400px;
    height: auto;
}

label img {
    width: 66px;
    cursor: pointer;
    float: left;
    opacity: 0.3;
    transition: all .4s;
    border-radius: 10px;
}

#f2:checked ~ .principal .slide {
    margin-left: -100%;
}

#f3:checked ~ .principal .slide {
    margin-left: -200%;
}

#f4:checked ~ .principal .slide {
    margin-left: -300%;
}

#f5:checked ~ .principal .slide {
    margin-left: -400%;
}

#f6:checked ~ .principal .slide {
    margin-left: -500%;
}


#aero2:checked ~ .principal .slide {
    margin-left: -100%;
}

#aero3:checked ~ .principal .slide {
    margin-left: -200%;
}

#aero4:checked ~ .principal .slide {
    margin-left: -300%;
}

#aero5:checked ~ .principal .slide {
    margin-left: -400%;
}

#aero6:checked ~ .principal .slide {
    margin-left: -500%;
}


#g2:checked ~ .principal .slide {
    margin-left: -100%;
}

#g3:checked ~ .principal .slide {
    margin-left: -200%;
}

#g4:checked ~ .principal .slide {
    margin-left: -300%;
}

#g5:checked ~ .principal .slide {
    margin-left: -400%;
}

#g6:checked ~ .principal .slide {
    margin-left: -500%;
}


#p2:checked ~ .principal .slide {
    margin-left: -100%;
}

#p3:checked ~ .principal .slide {
    margin-left: -200%;
}

#p4:checked ~ .principal .slide {
    margin-left: -300%;
}

#p5:checked ~ .principal .slide {
    margin-left: -400%;
}

#p6:checked ~ .principal .slide {
    margin-left: -500%;
}

input[name="grupo"] {
    display: none;
}

input[name="grupo"]:checked + label img {
    opacity: .9;
}

@keyframes cores {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes slidel {
    0% {
        /* transform: translateX(-40vw); */
        opacity: 1;
    }
    
    50% {
        
        opacity: 0.1;
    }
    100% {
        /* transform: translateX(40vw); */
        opacity: 1;
    }
}
